.card {
    background-color: #F7F7F7;
}

.card__heading {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;

    color: #333333;
}

.card__text {
    font-size: 12px;
    line-height: 14px;

    color: #858585;
}
