.wrap-cards {
    list-style: none;

    display: flex;
    overflow-x: auto;

    padding-left: 0;
    margin: 0;
}

.wrap-temperature {
    list-style: none;
    display: flex;

    padding-left: 0;
    margin-left: 20px;
}

.wrap-readings {
    display: flex;
    flex-direction: column;

    margin-right: 20px;
}

.wrap-footer-menu {
    list-style: none;

    margin: 0;
    padding-left: 0;

    display: flex;
    flex-direction: column;
}
