.wrap-cards {
    list-style: none;

    display: flex;
    overflow-x: auto;

    padding-left: 0;
    margin: 0;
}

.wrap-temperature {
    list-style: none;
    display: flex;
    align-items: flex-end;

    padding-left: 0;
    margin-left: 20px;
    margin-top: 10px;
}

.wrap-readings {
    margin-right: 20px;
}

.wrap-footer-menu {
    list-style: none;

    margin: 0;
    padding-left: 0;

    display: flex;
    flex-direction: column;
}

.wrap-temp-combo {
    display: flex;
    align-items: center;
}

.wrap-filter {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 20px;
}